{% if page.author %}
{% else %}
{% if page.sideimage %}
  {% if page.sideimage contains 'http' %}
	  <img src="{{ page.sideimage }}" class="side-photo" alt="1 {{ page.title }}">
  {% else %}
	  <img src="{{ site.url }}{{ page.sideimage }}" class="side-photo" alt="2 {{ page.title }}">
  {% endif %}
{% else %}  
  <img src="{{ site.url }}/images/StrategoLogoTextless.png"  class="side-photo"  alt="{{ page.title }}">
{% endif %}

<p>
{% if page.date %}
  Last modified on {{ page.date }}
{% endif %}
</p>
{% endif %}